html {
  background-color: #c9b5ab;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-weight: normal;
  text-decoration: none;
  list-style-type: armenian;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

nav {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
}
